.mission-grid {
    margin-top: 1rem;
  }
  
  .mission-grid-item {
    padding: 0.5rem;
  }
  
  .mission-button {
    background: linear-gradient(45deg, #666699, #21CBF3);
    border: none;
    border-radius: 8px;
    color: white;
    
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    transition: background 0.3s, transform 0.2s;
    width: 100%;
    height: 175px;
  }
  
  .mission-button:hover {
    background: linear-gradient(45deg, #21CBF3, #2196F3);
  }
  
  .mission-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.75rem;
  }
  
  .mission-title {
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
  }
  
  .mission-details {
    text-transform: none;
  }
  
  .randomButton {
    background: linear-gradient(45deg, #FF5722, #666699);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    transition: background 0.3s, transform 0.2s;
    margin: 0.5rem 0;
  }
  
  .random-button:hover {
    background: linear-gradient(45deg, #FF9800, #FF5722);
  }
  
  .back-button {
    background: linear-gradient(45deg, #666699, #660066);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    transition: background 0.3s, transform 0.2s;
    margin: 0.5rem 0;
  }
  
  .back-button:hover {
    background: #A0A0A0;
  }
  