.mission-list-item {
    margin-bottom: 0.5rem; /* Espaciado entre misiones */
  }
  
  .mission-button {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 1rem; /* Ajusta el padding según sea necesario */
  }
  
  .mission-button div {
    text-align: left; /* Alinea el texto a la izquierda */
    overflow: hidden; /* Oculta el contenido que desborda */
    word-wrap: break-word; /* Permite que las palabras largas se dividan */
  }


  