/* TournamentModeSelector.css */
.button {
    background-color: #D4AF37; /* Color dorado */
    border-radius: 8px; /* Bordes redondeados */
    margin-bottom: 16px; /* Espaciado entre botones */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transiciones suaves */
}

.button:hover {
    background-color: #FFD700; /* Color dorado más claro en hover */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Sombra en hover */
}
